<mat-toolbar color="primary" class="h-16">
  <div class="float-left"><mat-icon class="mr-2 relative top-1">hub</mat-icon>FAR - Finite Automaton Recognition</div>
  <span class="flex flex-auto"></span>
  <div class="float-right"><app-status></app-status></div>
  <button mat-button class="h-16"><mat-icon>info_outline</mat-icon></button>
</mat-toolbar>

<div style="display: flex; flex-direction: row; height: calc(100% - 64px)">
  <!-- Left Side -->
  <div class="w-1/2 float-left" #leftElement>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Draw"><app-draw></app-draw></mat-tab>
      <mat-tab label="Upload"><app-upload></app-upload></mat-tab>
    </mat-tab-group>
  </div>
  <!-- Resizer -->
  <div class="grabber" appResize [leftResize]="leftElement" [rightResize]="rightElement"></div>
  <!-- Right Side-->
  <div class="w-1/2 float-left" #rightElement>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Editor"><app-output-editor></app-output-editor></mat-tab>
      <mat-tab label="Formatter"><app-output-format></app-output-format></mat-tab>
    </mat-tab-group>
  </div>
</div>